.split-pane *.split-pane-divider {
	-fx-padding: 0 1 0 1;
	-fx-background-color: transparent;
}

.root {
	-fx-focus-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
    -fx-font-size: 9pt;
    -fx-font-family: "Verdana";
}

.table-view:focused .table-row-cell:focused {
    -fx-background-insets: 0, 0 0 1 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
 	-fx-focus-color: transparent;
}

.write-files-icon{
	-fx-text-fill: #496879;
	-fx-fill: #496879;
}
/* yellow */
.fadgi-o-warning{
	-fx-text-fill: #F5EA14;
	-fx-fill: #F5EA14;
}
/* orange */
.fadgi-r-warning{
	-fx-text-fill: #FF9900;
	-fx-fill: #FF9900;
}
/* red */
.fadgi-sr-warning{
	-fx-text-fill: #F03616;
	-fx-fill: #F03616;
}
/* grey */
.smpte-c-warning{
	-fx-text-fill: #919191;
	-fx-fill: #919191;
}

.editor-header-box {
	-fx-background-color:#496879;
	-fx-padding: 10 0 10 10;
}
.editor-header{
	-fx-text-fill: #ffffff;
	-fx-font-weight: bold;
	-fx-padding: 10 0 0 0;
}
.lookup-value{
	-fx-text-fill: #ffffff;
	-fx-text-alignment: center;
	-fx-padding: 0 0 0 10;
}
.accordion .titled-pane > *.content{
    -fx-background-color: transparent;
}
.accordion .titled-pane .title {
    -fx-background-color: #AAAAAA;
	-fx-text-fill: #ffffff;
}
.uneditable-column {
	-fx-text-fill: #8d8d8d;
}

.table-row-cell {
	-fx-table-cell-border-color: #eeeeee;
}

.table-row-cell:selected .text {
	-fx-fill: black;
}

.table-row-cell:selected {
	-fx-background-color: #7EFFFE;
}

.no-top-border {
	-fx-border-width: 0 1 1 1;
}


.table-view .column-header.general-section {
    -fx-background-color: #eceff1;
}
.table-view .column-header.general-section.current {
    -fx-background-color: #cfd8dc;
}

.table-view .column-header.file-info-section {
	-fx-background-color: #e8f5e9;
}
.table-view .column-header.file-info-section.current {
	-fx-background-color: #c8e6c9;
}

.table-view .column-header.image-info-section {
	-fx-background-color: #e8eaf6;
}
.table-view .column-header.image-info-section.current {
	-fx-background-color: #c5cae9;
}

.table-view .column-header.image-source-section {
	-fx-background-color: #fffde7;
}
.table-view .column-header.image-source-section.current {
	-fx-background-color: #fff9c4;
}

.table-view .column-header.film-section {
	-fx-background-color: #e1f5fe;
}
.table-view .column-header.film-section.current {
	-fx-background-color: #b3e5fc;
}

.table-view .column-header.tv-section {
	-fx-background-color: #fff3e0;
}
.table-view .column-header.tv-section.current {
	-fx-background-color: #ffe0b2;
}

.table-view .column-header.user-section {
	-fx-background-color: #fbe9e7;
}
.table-view .column-header.user-section.current {
	-fx-background-color: #ffccbc;
}


.mde.general-section {
    -fx-background-color: #eceff1;
}
.mde.file-info-section {
	-fx-background-color: #e8f5e9;
}
.mde.image-info-section {
	-fx-background-color: #e8eaf6;
}
.mde.image-source-section {
	-fx-background-color: #fffde7;
}
.mde.film-section {
	-fx-background-color: #e1f5fe;
}
.mde.tv-section {
	-fx-background-color: #fff3e0;
}
.mde.user-section {
	-fx-background-color: #fbe9e7;
}

.popout-icon {
	-fx-fill: #496879;
    -fx-cursor: hand;
}

.descriptor-class {
    -fx-font-size: 14.0;
    -fx-font-weight: NORMAL;
    -fx-text-fill: #444;
}

.list-view .list-cell:odd {
	-fx-padding: 0 0 0 0;
    -fx-background-color: #d1d9de;
}

.list-view .list-cell:even {
	-fx-padding: 0 0 0 0;
    -fx-background-color: #d1d9de;
}

.descriptor-border-bottom {
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-width: 1;
	-fx-border-color: grey;
}

.rounded-top-right {
	-fx-border-radius: 0 5 0 0;
	-fx-background-radius: 0 5 0 0;
}

.rounded-left {
	-fx-border-radius: 5 0 0 5;
	-fx-background-radius: 5 0 0 5;
}

.rounded-bottom-right {
	-fx-border-radius: 0 0 5 0;
	-fx-background-radius: 0 0 5 0;
}

.rounded-bottom-left {
	-fx-border-radius: 0 0 0 5;
	-fx-background-radius: 0 0 0 5;
}

.descriptors-vbox {
	-fx-padding: 10 10 10 10;
	-fx-background-color: #d1d9de;
}

.download-icon {
	-fx-font-size: 16.0;
    -fx-text-fill: #496879;
    -fx-fill: #496879;
    -fx-cursor: hand;
}

.combo-box .list-view .list-cell {
	-fx-text-fill: #000000;
	-fx-padding: 2 0 2 10;
}

.combo-box .list-view .list-cell:hover {
	-fx-background-color: #FFFFFF;
}


/* TEST */

.scroll-pane > .viewport  { -fx-background-color: transparent; }
