/* Root styles */
.root {
	-fx-font-size: 9pt;
	-fx-font-family: "Verdana";
}

/* Pane styles */

.split-pane *.split-pane-divider {
	-fx-padding: 0 1 0 1;
}

.accordion .titled-pane > *.content {
	-fx-background-color: #e6ecf0;
	-fx-padding: 10 10 10 10;
}

.accordion > .titled-pane {
	-fx-padding: 0 0 10 0;
}

.core-mxf-scroll-pane {
	-fx-background-color: transparent;
}

.light-blue-bg > .viewport {
	-fx-background-color: #e6ecf0;
}

/* List styles */

.combo-box .list-view .list-cell {
	-fx-padding: 2 0 2 10;
}
/*
.combo-box .list-view .list-cell:hover {
	-fx-background-color: #e5f7ff;
}
*/
/* Header styles */

.editor-header-box {
	-fx-background-color: #d1d9de;
	-fx-padding: 10 10 10 10;
}

.editor-header {
	-fx-font-size: 18.0;
}

.editor-header-selected-files-label {
	-fx-font-size: 12.0;
}

/* Table styles */

.table-row-cell {
	-fx-table-cell-border-color: #eeeeee;
}

/* Icon styles */

.write-files-icon {
	-fx-text-fill: #304b59;
	-fx-fill: #304b59;
}

.fadgi-o-warning { /* yellow */
	-fx-text-fill: #F5EA14;
	-fx-fill: #F5EA14;
}

.fadgi-r-warning { /* orange */
	-fx-text-fill: #FF9900;
	-fx-fill: #FF9900;
}

.fadgi-sr-warning { /* red */
	-fx-text-fill: #F03616;
	-fx-fill: #F03616;
}

.smpte-c-warning { /* grey */
	-fx-text-fill: #919191;
	-fx-fill: #919191;
}

.popout-icon {
	-fx-fill: #304b59;
	-fx-cursor: hand;
}

.popout-icon:disabled {
	-fx-fill: grey;
	-fx-cursor: pointer;
}

.download-icon {
	-fx-font-size: 16.0;
	-fx-text-fill: #304b59;
	-fx-fill: #304b59;
	-fx-cursor: hand;
}

/* MXF Descriptor styles */

.descriptor-border-bottom {
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-width: 1;
	-fx-border-color: grey;
}

.descriptors-vbox {
	-fx-padding: 10 10 10 10;
}

/* Misc. styles */

.no-top-border {
	-fx-border-width: 0 1 1 1;
}

.mde.general-section {
	-fx-background-color: #eceff1;
}

.button:focused,
.check-box:focused,
.tab:focused,
.label:focused,
.image-view:focused,
.combo-box:focused,
.hbox:focused,
.vbox:focused,
.tab:focused,
.ascii-field:focused,
.popout-icon:focused,
.text:focused,
.titled-pane:focused,
#popoutIconContainer:focused,
#editorTextFieldLabelInfoIcon:focused,
#editorTextAreaLabelInfoIcon:focused {
	-fx-border-color: #253a45;
	-fx-border-insets: -5;
	-fx-border-radius: 5;
	-fx-border-style: dotted;
	-fx-border-width: 2;
}

.button:hover,
.hover-hand:hover,
.check-box:hover,
.combo-box:hover,
.tab:hover {
	-fx-cursor: hand;
}

.button {
	-fx-font-weight: bold;
}
